{% extends 'DistributionBundle::layout.html.twig' %}

{% block content %}

<div class="row" style="margin-top:60px;">
    <div class="col-md-6 col-md-offset-3" style="text-align:center">
        {% block step_title %}{% endblock %}
    </div>
 </div>

{% if processFailed %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger process-failed">
            {{ processFailed|raw }}
        </div>
    </div>
 </div>
{% endif %}

<form method="POST">
    {% block form %} {% endblock %}
</form>
{% endblock %}