/tests/bootstrap.php.cache
/tests/cache/*
!tests/cache/.gitkeep
/tests/config/parameters.yml
/tests/web/css/*
/tests/web/js/*
/tests/web/upload/*
!tests/web/upload/.gitkeep
/tests/web/plugins/*
/tests/web/bundles/*
/tests/logs/*
!tests/logs/.gitkeep
/tests/phpunit.xml
/bin/
/composer.phar
/composer.lock
/vendor/
/phpunit/