/test/bootstrap.php.cache
/test/cache/*
!test/cache/.gitkeep
/test/config/parameters.yml
/test/web/assetic/*
/test/web/img/*
/test/web/fonts/*
/test/web/css/*
/test/web/js/*
/test/web/ckeditor
/test/web/upload/*
!test/web/upload/.gitkeep
/test/web/plugins/*
/test/web/bundles/*
/test/logs/*
!test/logs/.gitkeep
/test/phpunit.xml
/bin/
/composer.phar
/composer.lock
/vendor/
/phpunit/