module.exports = {
    appName: "Test App Name",
    debug: true,
    'MONGODB_PROTOCOL': 'mongodb',
    'MONGODB_NAME': 'drafterbit',
    'MONGODB_HOST': 'localhost',
    'MONGODB_PORT': '27017',
    'MONGODB_USER': '',
    'MONGODB_PASS': '',
    "admin.api_base_url": "/",
    'admin.user_api_base_url': "/",
    "admin.api_key": "test",
    "admin.user_api_key": "test",
    modules: [
        './src/modules/admin',
        './src/modules/user',
        './src/modules/api_key',
        './src/modules/swagger',
        './src/modules/content'
    ]
};