/* Global Styles */
/* ------------------------------- */

body {
    background-color: #fff;
    font-family: Arial, Helvetica, "Sans Serif" ;
}

/* Main Layout */
/* ------------------------------- */

.content-outer {
    width: 100%;
    padding-top: 30px;
}

.page-wrapper {
    padding: 0 15px;
    background-color: #fff;
    margin-top: 50px;
}

.content {
    padding: 15px 45px 15px 15px;
}

.content-inner{
    padding: 0 15px;
}


/* Dropdown Carret */
/* ------------------------------- */

.dropdown-menu .dropdown-caret {
    float: left;
    height: 10px;
    left: 12px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    width: 18px;
}

.dropdown-menu-right .dropdown-caret {
    left: auto;
    right: 12px;
}

    .dropdown-caret .caret-outer {
        border-bottom: 10px solid rgba(0, 0, 0, 0.1);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        height: auto;
        left: 0;
        top: 0;
        width: auto;
    }

    .dropdown-caret .caret-inner {
        border-bottom:10px solid rgba(255, 255, 255, 0.98);
        border-left:10px solid rgba(0, 0, 0, 0);
        border-right:10px solid rgba(0, 0, 0, 0);
        left: 1px;
        top: 1px;
    }

    .dropdown-caret .caret-outer,
    .dropdown-caret .caret-inner {
        display: inline-block;
        left: 0;
        margin-left: -1px;
        position: absolute;
        top: 0;
    }


/* Avatar */
.profile-avatar {
    border: 0px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}


/* Navigation */

/* ------------------------------- */
/* Top Right Navigation Dropdown Styles */

.drafterbit-navbar {
    color: #555;
    height: 50px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #e1e1e1;
}

.drafterbit-navbar li a,
.drafterbit-navbar a {
    color: inherit;
}

.nav-container {
    padding: 10px
}


/* Footer */
/* ------------------------------- */

.footer {
    background: #ffffff;
    border-top:1px solid #e1e1e1;
    color: #777;
    font-size: 0.9em;
}

/* Buttons */

/* ------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}


/*  font-awesome size */
.fa-1 {
  font-size: 1em;
}
.fa-2 {
  font-size: 2em;
}

.fa-3 {
  font-size: 3em;
}

.fa-4 {
  font-size: 4em;
}

.fa-5 {
  font-size: 5em;
}

.fa-6 {
  font-size: 6em;
}

.fa-8 {
  font-size: 8em;
}

.fa-10 {
  font-size: 10em;
}

.is_stuck {
    background: #fff;
    box-shadow: 1px 1px 4px #e1e1e1;
    z-index: 1029;
}

.row-sticky-toolbar .btn:not(:first-child) {
    margin: 2.5px;
}