@media (max-width: 767px) {

    html, body {
        overflow-x:hidden;
    }

    .page-wrapper {
        position: relative;
        min-height: 300px;
    }

    .dt-off-canvas ul:not(:first-child) {
        margin-left: 5px;
    }
    .dt-off-canvas ul li {
        display: block !important;
        width: 100%;
        padding: 5px !important;
        border-bottom: 1px solid #e1e1e1;
    }

    .dt-off-canvas a.navbar-link i,
    .dt-off-canvas .dropdown-caret{
        display: none;
    }

    .dt-off-canvas .dropdown-menu {
        position: relative;
        width: 100%;
        box-shadow: none;
        border: none;
        background: inherit;
    }

    .dt-off-canvas {
        z-index: 99999;
        position: fixed;
        background-color: #e9e9e9;
        top:50px;
        bottom:0px;
        left: -200px;
        width: 200px;
        overflow: auto;
        border-right: 1px solid #e1e1e1;
    }

    .navbar-header:after {
        clear: left;
    }

    .user-preferences {
        display: inline-block !important;
        position:fixed;
        top:10px;
        right:15px;
        width:auto;
    }

    .table-responsive {
        border: none;
    }

    .footer {
        position: relative;
    }

    .drafterbit-index-filter {
        display:block;
        margin:5px 0;
    }

    .action-filter-container {
        margin: 0px!important;
        padding: 0px!important;
    }
}