{# @todo Fix view in mobile #}
{% extends "@desk/layout_index.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/blog/css/comment/index.css"/>
{% endblock %}

{% block filter %}
<div style="display:inline-block; float:right;margin-left:5px;">
    <select name="filter" class="form-control {{ view_id }}-status-filter">
        <option value="active" >- {{ __('Status') }} -</option>
        <option value="approved" >{{ __('Approved') }}</option>
        <option value="pending" >{{ __('Pending') }}</option>
        <option value="spam" >{{ __('Spam') }}</option>
        <option value="trashed" >{{ __('Trashed') }}</option>
    </select>
</div>
{% endblock %}

{% block action %}
<button class="btn btn-default uncreate-action" type="submit" name="action" value="trash">
    <i class="fa fa-trash-o"></i> {{ __('Trash') }}
</button>
{% endblock %}

{% block table %}
    <table class="table table-hover table-condensed" id="comment-data-table">
        <thead>
            <tr>
                <th class="sorting" width="15">
                    <input id="{{ view_id }}-checkall" type="checkbox">
                </th>
                <th width="25%">{{ __('Author') }}</th>
                <th width="55%">{{ __('Content') }}</th>
                <th width="20%">{{ __('In Response to') }}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block js %}
    {{ super() }}
    <script type="text/javascript" src="/blog/js/comment/index.js"></script>
{% endblock %}
