@media (min-width:768px) {

    .dt- {
        &navbar-brand {
            max-width:150px;
        }
    }

    .dt-navbar {
        height: 50px;
    }

    .navbar-brand {
        height: 30px;
        padding: 5px;
    }

    .dt-main {
        position: inherit;
        padding: 0px 0px 20px;
    }

    .nav-container {
        padding: 10px
    }
}
