{# @todo Fix view in mobile #}
{% extends "@desk/layout.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/bower_components/finder/dist/css/finder.css"/>
{% endblock %}

{% block pageTitle %}
  {{ __('Files') }}
{% endblock %}

{% block content %}
    <div id="finder-container"></div>
{% endblock %}

{% block js %}
    {{ super() }}

    <script type="text/javascript" src="/bower_components/bootstrap-contextmenu/bootstrap-contextmenu.js"> </script>
    <script type="text/javascript" src="/bower_components/jquery-form/jquery.form.js"> </script>
    <script type="text/javascript" src="/bower_components/finder/dist/js/finder.min.js"> </script>
    <script type="text/javascript" src="/bower_components/nunjucks/browser/nunjucks-slim.min.js"> </script>
    <script type="text/javascript" src="/file/js/index.js"> </script>

    {# @todo handle locale #}
{% endblock %}
