---
---

@import "{{ site.theme }}";

.site-title a {
  color: inherit;
}

.nav > ul {
  margin: 0;
  padding: 0;
}

.nav > ul a {
  color: inherit;
  text-decoration: none;
}

.nav > ul > li {
  list-style: none;
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
}

.nav > ul > li.active {
  font-weight: bolder;
}

.toc {
  font-size: 0.9em;
}