body {
    background-color: #E4E5E6;
}
.card {
    border: 1px solid #bbbbbb;
}
.card-header { border-bottom: 1px solid #bbbbbb; }
.card-footer { border-top: 1px solid #bbbbbb; }
.side-menu .nav-link:hover, .side-menu .nav-link:focus {
    background: #E4E5E6;
}