.nav-stacked li a {
    outline: none;
}

.nav-stacked-left li a:hover {
    background-color: #fff;

}

.nav-stacked-left li a:focus {
    background-color: #fff;
}

.nav-stacked-left li {
    margin: 0 !important;
    background-color: #fff;
    border-right: 1px solid #e1e1e1;
    border-bottom: none;
    border-top: none;
    border-left: 0px solid transparent;
}

.nav-stacked li.active {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;     
    border-top: 1px solid #e1e1e1;     
    border-left: 1px solid #e1e1e1;     
    border-right: 1px solid transparent;
}