{% extends "@desk/layout.html" %}

{% block css %}
    {{ super() }}

    <link rel="stylesheet" href="/desk/css/vertical-tabs.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/desk/css/menus.css" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block pageTitle %}
  {{ __('Menus') }}
{% endblock %}

{% block content %}
<div class="container dt-menu-container">
    <div class="row">
        <div class="col-md-3">
            <ul id="dt-menu-tab" class="nav nav-tabs tabs-left">
                {% for menu in menus %}
                    <li role="presentation"><a href="#{{ menu.name }}" aria-controls="{{ menu.name }}" role="tab" data-toggle="tab">{{ menu.name }}</a></li>
                {% endfor %}
                  <li><a href="#add-menu" data-toggle="tab" id="menu-adder"><i class="fa fa-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-md-9 tab-content">
            {% for menu in menus %}
                <div role="tabpanel" class="tab-pane" id="{{ menu.name }}">
                  <div class="clearfix menu-setting">
                    <div class="col-md-4 menu-name" style="padding:0">
                      <label>{{ __('Display Text') }}</label>
                      <input type="text" name="name" class="form-control input-sm" value="{{ menu.name }}"/>
                      <input type="hidden" name="id" value="{{ menu.id }}"/>
                    </div>
                  </div>
                  <div class="menu-items">
                    <label>{{ __('Menu Items') }}</label>
                       {{ _print_menu_items(menu.items) }}
                    <a href="#" class="btn btn-sm menu-item-adder" data-menu-id="{{ menu.id }}">{{ __('Add Menu Item') }}</a>
                  </div>
                  <div class="menu-action">
                      <a href="#" class="btn btn-sm btn-default menu-item-saver">{{ __('Save') }}</a>
                      <a href="#" class="btn btn-sm menu-delete" data-id="{{ menu.id }}">{{ __('Delete') }}</a>
                  </div>
                </div>
            {% endfor %}

            <div role="tabpanel" class="tab-pane" id="add-menu">
            <form class="menu-add-form" action="/desk/setting/menu/save" method="post">

                <div class="clearfix menu-setting">
                  <div class="col-md-4" style="padding:0">
                    <label for="name">{{ __('Name') }}</label>
                    <input type="text" name="name" value="" class="form-control input-sm">
                    <button type="submit" name="action" class="btn btn-default btn-sm" style="margin-top:10px">{{ __('Save') }}</button>
                  </div>
                </div>
          </form>
            </div>
        </div>
    </div>
</div>

{% raw %}
<script id="menu-item-template" type="text/x-nunjucks-template">
  <div class="panel panel-default menu-item-container">
    <div class="panel-heading">
      <h4 class="panel-title">
      <a href="#new-menu-{{id}}" data-parent=".menu-items li" data-toggle="collapse" aria-expanded="false">
        {{label}}
      </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="new-menu-{{id}}" aria-expanded="false">
        <form method="POST" class="menu-form" action="{{formAction}}">
        <div class="panel-body">
          <div class="form-group">
            <label>Label</label>
            <input type="text" value="{{label}}" name="displayText" class="form-control input-sm menu-label">
          </div>

          <div class="form-group">
            <label>Link</label>
            <input type="text" value="#" name="link" class="form-control input-sm">
          </div>

          <input type="hidden" value="{{id}}" name="id">
          <div class="form-group">
            <button class="btn btn-xs btn-primary">Save</button>
            <a class="btn btn-xs delete-menu-item" href="#">Remove</a>
          </div>

        </div>
      </form>
      </div>
  </div>
</script>
{% endraw %}

{% endblock %}

{% block javascripts %}
     {{ super() }}

     <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"> </script>
     <script type="text/javascript" src="/bower_components/jquery-form/jquery.form.js"> </script>
     <script type="text/javascript" src="/bower_components/nunjucks/browser/nunjucks.min.js"> </script>
     <script type="text/javascript" src="/bower_components/nestedSortable/jquery.mjs.nestedSortable.js"> </script>
     <script type="text/javascript" src="/bower_components/bootstrap-tabcollapse/bootstrap-tabcollapse.js"> </script>
     <script type="text/javascript" src="/desk/js/menus.js"> </script>
{% endblock %}

{% macro _print_menu_items(items) %}
  <ol class="menu-sortable">
      {%  for item in items %}
    <li id="{{ item.id }}">
      <div class="panel panel-default menu-item-container">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="#menu-{{ item.id }}" data-parent=".menu-items li" data-toggle="collapse" aria-expanded="false">
                {{ item.display_text }}
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="menu-{{ item.id }}" aria-expanded="false">
            <form method="POST" class="menu-form" action="">
            <div class="panel-body">
              <div class="form-group">
                <label>Display Text</label>
                <input type="text" value="{{ item.display_text }}" name="display_text" class="form-control input-sm menu-label">
              </div>

              <div class="form-group">
                <label>Link</label>
                <input type="text" value="{{ item.link }}" name="link" class="form-control input-sm">
              </div>

              <input type="hidden" value="{{ item.id }}" name="id">
              <div class="form-group">
                <button class="btn btn-xs btn-primary">Save</button>
                <a class="btn btn-xs delete-menu-item" href="#">Remove</a>
              </div>

            </div>
          </form>
          </div>
      </div>
      {% if item.childs|length %}
            {{ _print_menu_items(item.childs) }}
      {% endif %}
    </li>
    {% endfor %}
  </ol>
{% endmacro %}
